<!-- {{title}} -->
<!-- <p *ngIf="mostrar"> Mostrar el contenido:{{mostrar}}</p> -->

<!-- Para no mostrar seria <p *ngIf="!mostrar"> Mostrar el contenido:{{mostrar}}</p> -->
<!--añadimos la directiva para usar *ngfor,,,, ojooooo el let nombre of lista es obligatorio menes -->
<!-- <ul *ngFor="let nombre of lista; let i = index"> -->
 <!---- <li>{{i+1}}{{nombre}}</li> -->

<!--</ul> -->

<!-- Vamos a meter un ngIf dentro de un ngfor -->

{{title}}
<p *ngIf="mostrar"> Mostrar el contenido:{{mostrar}}</p>

<!-- Para no mostrar seria <p *ngIf="!mostrar"> Mostrar el contenido:{{mostrar}}</p> -->
<!--añadimos la directiva para usar *ngfor,,,, ojooooo el let nombre of lista es obligatorio menes-->

<div *ngIf="!mostrar">
<ul *ngFor="let nombre of lista; let i = index">
  <li>{{i+1}}{{nombre}}</li>

</ul>
</div>